{% extends 'base.html.twig' %}

{% block title %}CompaniesController!{% endblock %}

{% block body %}
    <div class="m-4">
        {% for comp in companies %}
        <div class="card" style="width:500px">
            <img class="card-img-top" src="{{ comp.photo }}" alt="Card image">
            <div class="card-img-overlay">
                <h4 class="card-title">{{ comp.name }}, {{ comp.id }}</h4>
                <p class="card-text">{{ comp.description }}.</p>
                <a href="#" class="btn btn-primary">Details</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
