{% extends 'base.html.twig' %}

{% block title %}OffersController!{% endblock %}

{% block body %}
    <div class="m-4">
        {% for offer in offers %}
            <div class="card" style="width:500px">
                <div class="card-img-overlay">
                    <h4 class="card-title">{{ offer.name }}, {{ offer.id }}</h4>
                    <p class="card-text">{{ offer.description }}.</p>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
